@using Ppt23.Client.ViewModels

<div>@Vyb?.Name</div>
<div>@Vyb?.BuyDate.ToString("dd/MM/yyyy")</div>
<div>@Vyb?.LastRevision.ToString("dd/MM/yyyy")</div>
<div>@((Vyb.IsRevisionNeed) ? "ano" : "ne")</div>
<div>
    <button class="rounded bg-red-400 p-2" @onclick="() => SmazEventCallback.InvokeAsync()">Smazat</button>
    <button class="rounded bg-blue-400 p-2" @onclick="() => RevizeEventCallback.InvokeAsync()">Provést revizi</button>
</div>

@code {
    [Parameter] public VybaveniVM? Vyb { get; set; }
    [Parameter] public EventCallback SmazEventCallback { get; set; }
    [Parameter] public EventCallback RevizeEventCallback { get; set; }


}