################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ppt.Api/MojeDatabaze.db-wal
/Ppt.Api/MojeDatabaze.db-shm
/Ppt.Api/MojeDatabaze.db
.vs/
