@page "/VybaveniNemocnice"



<div class="text-center">
	<p>VybaveniNemocnice</p>
</div>
<div class="flex items-center justify-center h-screen"> V současné doběš bohužel nedisponujeme žádným vybavením</div>

@code {

}
