@page "/"

<h1>Ahoj vítej v mojí hře</h1>

<input  @bind-value="oninput"/>


<button @onclick="NoveCislo">
    Nove Číslo 
</button>

<button @onclick="Hadam">
    Typ 
</button>
<p>
<span >@nahodneCislo</span>

</p>

<p>

<span >@vysledek</span>
</p>

@code
{
    
    int nahodneCislo;
    string? oninput;
    string? vysledek;

    void NoveCislo()
    {
        Random random = new Random();
        nahodneCislo = random.Next(1, 10);
    }

    void Hadam()
    {
        bool cislo = int.TryParse(oninput, out int hadaneCislo);

        if (cislo)
        {
            string VetsiMensi = hadaneCislo > nahodneCislo ? "větší" : "menší";

            vysledek = $"Tvoje číslo je {VetsiMensi}";

            if (hadaneCislo == nahodneCislo)
            {
                vysledek = "Vyhrál jsi";
            }
        }
        else
        {
            vysledek = "Zkus zadat číslo";
        }
    }
}



