@inherits LayoutComponentBase

<main class=" px-4 py-5">
    <div class="p-5 text-right w-full bg-gradient-to-b from-sky-800 to-cyan-300 rounded-full">
        <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="">Home</a>
        <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="https://www.fbmi.cvut.cz/">FBMI</a>
        <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="HadaciHra">Hádací hra</a>
        <a class="rounded-full px-5 py-2.5 text-sm font-semibold text-white text-center hover:bg-gradient-to-b from-cyan-300 to-sky-800" href="VybaveniNemocnice">Vybavení nemocnice</a>
    </div>
    @Body
</main>
