@inherits LayoutComponentBase

<main class=" px-4 py-5">
    <div class="grid grid-cols-4 ">
        <a class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white text-center" href="/">Home</a>
        <a class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white text-center" href="https://www.fbmi.cvut.cz/">Odkaz na strányk fakulty</a>
        <a class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white text-center" href="/HadaciHra">Zde si můžeš zahrát mojí hru</a>
        <a class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white text-center" href="/VybaveniNemocnice">Zde máme vybavení nemocnice</a>
    </div>
    
    

    @Body
</main>
