@page "/ukon/{Id:guid}"
@using Ppt.Shared;
@inject HttpClient Http


@if (seznamUkonu is null)
{
    <div class="absolute right-1/2 bottom-1/2  transform translate-x-1/2 translate-y-1/2 ">
        <div class=" border-t-transparent border-solid animate-spin  rounded-full border-cyan-600 border-8 h-16 w-16"></div>
    </div>
    return;
}
else
{
    <div>@UkonVybaveniVM.Name</div>

    @foreach (var item in seznamUkonu)
    {
        <div class="grid grid-cols-2">
            <div>Název procedury: @item.Name </div> 
            <div>Kdy byla provedena @item.RxecutionDate</div>
        </div>
    }
}




@code {
    UkonVybaveniVM? UkonVybaveniVM;
    [Parameter] public Guid Id { get; set; }
    List<UkonVybaveniVM>? seznamUkonu;



    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        UkonVybaveniVM = await Http.GetFromJsonAsync<UkonVybaveniVM>($"/ukon/{Id}");
        seznamUkonu = await Http.GetFromJsonAsync<List<UkonVybaveniVM>>($"/ukonyinfo/{UkonVybaveniVM.Id}");
        

    }

}
