@page "/ukon"
@using Ppt.Shared;
@inject HttpClient Http

@if (seznamVybaveniUkon is not null)
{
        <div class="grid grid-cols-2">
            @foreach (var item in seznamVybaveniUkon)
            {
                <h2>Nazev: @item.Name</h2>
                
                <div>
                    @item.Id;
                    <button class="rounded border-2 border-yellow-600 p-2" @onclick="() => NewUkon(item.Id)">🛠</button>
                    <a class="rounded border-2 border-blue-600 p-2" href="ukon/{@item.Id}">ℹ️</a>
                </div>
            }
        </div>
}
else
{
        <div>Nic tu není</div>
}
@code {
    List<UkonVybaveniVM>? seznamVybaveniUkon;
    UkonVybaveniVM? ukonVybaveniVM;


    public void NewUkon(Guid id)
    {
        var Id = id;
        ukonVybaveniVM = new UkonVybaveniVM
        {
            Name = VybaveniVM.RandomName(),
            RxecutionDate = DateTime.Now
        };

        var response = Http.PostAsJsonAsync<UkonVybaveniVM>($"ukon/{Id}", ukonVybaveniVM);
    }

    protected override async Task OnInitializedAsync()
    {
        seznamVybaveniUkon = await Http.GetFromJsonAsync<List<UkonVybaveniVM>>($"/ukon");
    }

}
